<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logoYBusqueda">
                <img src="/images/logo.svg" alt='Logo Mercado Liebre' id="logo">
                <div class="divBusqueda">
                    <form action="" id="searchForm">
                        <input type="text" placeholder="Buscar productos, marcas" class="barraBusqueda">
                        <button>
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="cuotasNavBar">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <div class="cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <ul class="navLinks" id="navLinksUl">
                <div class="links1">
                    <a href=""><li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
                </div>
                <div class="links2">
                    <div class="crearCuenta">
                        <a href="../views/register.html" id="crearCuentaAnchor"><li>Creá tu cuenta</li></a>
                        <i class="fa-solid fa-id-card"></i>
                    </div>
                    <div class="login">
                        <a href="../views/login.html"><li>Ingresá</li></a>
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </div>
                    <div class="compras">
                        <a href=""><li>Mis compras</li></a>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </ul>
            <div class="burger-menu">
                <button id="burgerMenuBtn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>

    
    <main>
        <img src="/images/banner.jpg" alt="" class="banner" width="100%">
        <p class="titular">Basado en tu ultima visita</p>
        <section class="productosUltimaVisita">
            <article class="producto">
                <img src="/images/cafetera.jpg" alt="Cafetera" width="100%">
                <div>
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precioYDescuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/macbook.jpg" alt="MacBook" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>

            <article class="producto">
                <img src="/images/tv-samsung.jpg" alt="TV Samsung" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>

        <br>
        <p class="titular">Ofertas</p>
        <section class="productosOfertas">
            <article class="producto">
                <img src="/images/cafetera.jpg" alt="Cafetera" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            

            <article class="producto">
                <img src="/images/macbook.jpg" alt="MacBook" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            

            <article class="producto">
                <img src="/images/tv-samsung.jpg" alt="TV Samsung" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>

            <article class="producto">
                <img src="/images/samsung-galaxy.jpg" alt="Samsung Galaxy S10" width="100%">
                <div class="camioncito">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precioYDescuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
        </section>
    </main>


    <footer>
        <div class="caracteristicasDelFooter">
            <div class="formaDePago">
                <br>
                <i class="fa-solid fa-credit-card"></i>
                <p class="tituloFooter">Pagá con tarjeta o en efectivo</p>
                <br>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <br>
            </div>
    
            <div class="envioGratis">
                <i class="fa-solid fa-gift"></i>
                <p class="tituloFooter">Envío gratis desde los $2.500</p>
                <br>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <br>
            </div>
    
            <div class="seguridad">
                <i class="fa-solid fa-user-shield"></i>
                <p class="tituloFooter">Seguridad de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

    <script src="/js/home.js"></script>
</body>
</html>